html {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    background-color: $bg01;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-size: $f26;
    -webkit-overflow-scrolling: touch;
}

i,
em {
  	font-style: normal;
}

* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.25s ease 0s;
    color: #333;
    &:active {
      outline: 0;
    }
}

li {
	list-style: none;
}

input {
	border: none;
	outline: none;
	font-size: $f26;
	color: $fc02;
	background: none;
	&::placeholder {
		color: $fc04;
	}
}
textarea {
	font-size: $f26;
	border: none;
	outline: none;
	color: $fc05;
	background: none;
	&::placeholder {
		color: $fc04;
	}
}

img {
	width: 100%;
}

@font-face {
	font-family: 'iconfont';  /* project id 1261987 */
	src: url('//at.alicdn.com/t/font_1261987_uo3n35ofvvp.eot');
	src: url('//at.alicdn.com/t/font_1261987_uo3n35ofvvp.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_1261987_uo3n35ofvvp.woff2') format('woff2'),
	url('//at.alicdn.com/t/font_1261987_uo3n35ofvvp.woff') format('woff'),
	url('//at.alicdn.com/t/font_1261987_uo3n35ofvvp.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_1261987_uo3n35ofvvp.svg#iconfont') format('svg');
}
.icon-mobile {
	font-family: "iconfont" !important;
	font-size: $f26;
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.router-link-active,
.router-link-exact-active {
  	color: $navActiveColor !important;
  	.icon-mobile{
    	color:$navActiveColor !important;
  	}
}


.animation-translate-bottom-in {
	animation: bottomIn ease .4s forwards
}
  
.animation-translate-bottom-out {
	animation: bottomOut ease .4s forwards
}
  
@keyframes bottomIn {
	0% {
	  	transform: translateY(100%)
	}
  
	to {
	  	transform: translateY(0)
	}
}
  
@keyframes bottomOut {
	0% {
	  	transform: translateY(0)
	}
  
	to {
	  	transform: translateY(100%)
	}
}